.header {
  background-image: url(../../assets/images/pattern-light-bg.svg);
  padding-inline: 16px;
  padding-top: 24px;
  &__img {
    margin-bottom: 48px;
  }

  &__star {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 64px;
    &--img {
      width: 110px;
      height: 40px;
    }

    &-icon {
      width: 24px;
      height: 24px;
    }

    &-iconbox {
      display: flex;
    }
  }

  &__picture {
    padding-bottom: 80px;
  }
}
