@use '../mixins/pseudo.scss' as *;
@use '../mixins/responsive.scss' as *;

.reading {
  position: relative;
  overflow: hidden;
  background-image: url(../../assets/images/pattern-light-bg.svg);
  padding: 64px 16px;

  margin-bottom: 64px;

  @include responsive(desktop) {
    margin-inline: 135px;
  }

  &__title {
    width: 350px;
    @include responsive(tablet) {
      width: 500px;
    }
    @include responsive(desktop) {
      width: 500px;
      text-align: center;
      margin-inline: auto;
      margin-bottom: 64px;
    }
  }

  &:after {
    @include pseudo(100%, 600px) {
      background-image: url(../assets/images/pattern-glow.svg);
      background-repeat: no-repeat;
      bottom: 0;
      left: 60%;
    }
  }

  &__box {
    @include responsive(desktop) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-inline: 60px;
    }
    &-box {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
      @include responsive(desktop) {
      }
    }
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
  }
}
